<a href="https://colab.research.google.com/github/turtle-shifa/CSE110/blob/main/CSE110_Lab01_Branching_(if_else).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**#1**

In [2]:
number1 = int(input())
number2 = int(input())
print(f"Sum = {number1+number2}")
print(f"Product = {number1*number2}")
print(f"Difference = {number1-number2}")

4
5
Sum = 9
Product = 20
Difference = -1

**#2**

In [8]:
import math
radius = float(input())
print(f"Area is {math.pi * (radius**2)}")
print(f"Circumference is {2*math.pi*radius}")

3.5
Area is 38.48451000647496
Circumference is 21.991148575128552

**#3**

In [11]:
num1 = int(input())
num2 = int(input())
if num1 != num2:
  if num1>num2:
    print("First is greater")
  else:
    print("Second is greater")
else:
  print("The numbers are equal")

-40
-4
Second is greater

**#4**

In [13]:
num1 = int(input())
num2 = int(input())
if num1 != num2:
  if num1>num2:
    print(num1-num2)
  else:
    print(num2-num1)
else:
  print(0)

6
2
4

**#5**

In [15]:
user = int(input())
if user % 2 == 0:
  print("The number is even")
else:
  print(f"The number is odd")

5
The number is odd

**#6**

In [18]:
user = int(input())
if user % 2 == 0 or user % 5 == 0:
  print(user)
else:
  print(f"Not a multiple")

10
10

**#7**

In [20]:
user = int(input())
if user % 2 == 0 and user % 5 == 0:
  print("multiple of 2 and 5 both")
elif user % 2 == 0 or user % 5 == 0:
  print(user)
else:
  print(f"Not a multiple")

10
multiple of 2 and 5 both

**#8**

In [22]:
user = int(input())
if user % 2 == 0 and user % 5 == 0:
  print(user)
else:
  print(f"Not multiple of 2 and 5 both")

40
40

**#9**

In [25]:
user = int(input())
if user % 2 != 0 and user % 5 != 0:
  print(user)
else:
  print(f"No")

3
3

**#10**

In [27]:
user = int(input())
if user % 2 != 0 and user % 5 != 0:
  print(user)
else:
  print(f"No")

11
11

**#11**

In [36]:
user = int(input())
grade = "A"
if user>=0 and user<=100:
  #if 0<=user<=100:
  if 90<=user<=100:
    pass
  elif 80<=user<=89:
    grade = "B"
  elif 70<=user<=79:
    grade = "C"
  elif 60<=user<=69:
    grade = "D"
  elif 50<=user<=59:
    grade = "E"
  else:
    grade = "F"
  print(grade)
else:
  print("Error: Please enter Student marks in the range between 0 to 100")

91
A

**#12**

In [39]:
hour = int(input())
if hour<=40:
  print(f"{hour*200}")
else:
  print(f"{((hour-40)*300)+8000}")

30
6000

**#13**

In [40]:
seconds = int(input())
hour = seconds // 3600
seconds = seconds % 3600
minutes = seconds // 60
seconds = seconds % 60
print(f"Hours: {hour} Minutes: {minutes} Seconds: {seconds}")

10000
Hours: 2 Minutes: 46 Seconds: 40

**#14**

In [42]:
s = int(input())
if s>=100:
  print(f"{(12000/(4+((s**2)/14900)))}")
else:
  print(f"{(3000-((s**2)*125))}")

3
1875

**#15**

In [46]:
user = int(input())
output = "Patience is a virtue"
if 0<=user<=24:
  if 4<=user<=6:
    output = "Breakfast"
  elif 12<=user<=13:
    output = "Lunch"
  elif 16<=user<=17:
    output = "Snacks"
  elif 19<=user<=20:
    output = "Dinner"
  print(output)
else:
  print("Wrong time")

-5
Wrong time