<a href="https://colab.research.google.com/github/turtle-shifa/CSE110/blob/main/Lab06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
def even_checker(num):
  if num%2 == 0:
    print("Even!!")
  else:
    print("Odd!!")
even_checker(5)

Odd!!

In [ ]:
#2
def fibonacci(num):
  first = 0
  second = 1
  third = 1
  output = str(first)+ " " + str(second) + " "

  while third<num:
    third = first + second
    first = second
    second = third
    if third<=num:
      output+=(str(third)+" ")
  print(output[0:-1])
fibonacci(5)

0 1 1 2 3 5

In [ ]:
#2 #Another Method Using Flag
def fibonacci(num):
  first = 0
  second = 1
  condition = True
  output = str(first)+ " " + str(second) + " "

  while condition:
    third = first + second
    first = second
    second = third
    if third<=num:
      output+=(str(third)+" ")
    else:
      condition = False
  print(output[0:-1])

fibonacci(10)

0 1 1 2 3 5 8

In [ ]:
#3
def foo_moo(num):
  if num % 2 == 0 and num % 3 == 0:
    print("FooMoo")
  elif num % 2 == 0:
    print("Foo")
  elif num % 3 == 0:
    print("Moo")
  else:
    print("Boo")

foo_moo(6)

FooMoo

In [ ]:
#4
def function_name(string):
  upper = 0
  lower = 0
  for i in string:
    if 65<=ord(i)<=90 or 97<=ord(i)<=122:
      if i == i.upper():
        upper+=1
      else:
        lower+=1
  print(f"No. of Uppercase characters : {upper}\nNo. of Lowercase Characters: {lower}")

function_name("The quick Sand Man")

No. of Uppercase characters : 3
No. of Lowercase Characters: 12

In [ ]:
#5
def calculate_tax(age,salary,position):
  tax = 0
  if age<18 or salary<10000 or position == "president":
    pass
  else:
    if 10000<=salary<=20000:
      tax+= 0.05*salary
    else:
      tax+= 0.1*salary

  print(tax)

age = int(input())
salary = int(input())
position = input().lower()

calculate_tax(age,salary,position)

20
22000
President
0

In [ ]:
#6
def function_name(days):
  years = days // 365
  days = days % 365
  months = days // 30
  days = days % 30
  print(f"{years} years, {months} months and {days} days")
days = int(input())

function_name(days)

2250
6 years, 2 months and 0 days

In [ ]:
#7
def show_palindrome(number):
  for i in range(1,number+1):
    print(i,end="")
  for i in range(number-1,0,-1):
    print(i,end="")

number = int(input())
show_palindrome(number)

3
12321

In [ ]:
#8 #Uff
def show_palindromic_triangle(number):
  output = ""
  for i in range(1,number+1):
    for j in range(1,i+1):
      if i == 1:
        output+=str(j)
      else:
        output+=str(j)+" "
    for k in range(i-1,0,-1):
      if k == 1 or k == 0:
        output+=str(k)
      else:
        output+=str(k)+" "
    space = " " * ((number-i)*2)
    if i == number:
      print(space+output,end="")
    else:
      print(space+output,end="")
      print("")
    output = ""

number = int(input())
show_palindromic_triangle(number)

5
        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
#9 #print the function
import math
def area_circumference_generator(rad):
  area = math.pi*(rad**2)
  circumference = 2*math.pi*rad
  return(area,circumference)

rad = float(input())
area, circumference = area_circumference_generator(rad)
print(area_circumference_generator(rad))
print(f"Area of the circle is {area} and circumference is {circumference}")

1.5
(7.0685834705770345, 9.42477796076938)
Area of the circle is 7.0685834705770345 and circumference is 9.42477796076938

In [ ]:
#10
def make_square(input_tuple):
  a_dict = {}
  for i in range(input_tuple[0],input_tuple[1]+1):
    a_dict[i] = i**2
  return a_dict

print(make_square((1,3)))

{1: 1, 2: 4, 3: 9}

In [ ]:
#11
def rem_duplicate(a_tuple):
  a_list = []
  for i in a_tuple:
    if i not in a_list:
      a_list.append(i)
  return tuple(a_list)

print(rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2])))

('Hi', 1, 2, 3, 'a', [1, 2])

In [ ]:
#12
def function_name(a_list):
  #[1, 2, 3, 3, 3, 3, 4, 5, 8, 8]
  final_list = []
  remove = 0
  for i in a_list:
    if final_list.count(i)<2:
      final_list.append(i)
    else:
      remove+=1
  remove,final_list = (remove,final_list)
  return remove,final_list

remove,final_list = function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])
print(f"Removed: {remove}\n{final_list}")

Removed: 2
[1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
#13
def function_name(operator,num1,num2):
  if operator == "+":
    return num1 + num2
  elif operator == "-":
    return num1 - num2
  elif operator == "*":
    return num1 * num2
  else:
    return num1 / num2

operator = input()
num1 = float(input())
num2 = float(input())

print(function_name(operator, num1, num2))

*
5.5
2.5
13.75

In [ ]:
#14
def function_name(sentence,index):
  output = sentence[0]
  for i in range(1,len(sentence)):
    if 65<=ord(sentence[i])<=90 or 97<=ord(sentence[i])<=122:
      if i%3 != 0:
        output+=sentence[i]
    else:
      output+=sentence[i]
  return output

sentence = input()
index = int(input())
print(function_name(sentence,index))

I love programming.
3
I lve prgrmmng.

In [ ]:
#15
def function_name(food_list,location = "Dhanmondi"):
  price_dict = {"Rice": 105, "Potato": 20, "Chicken": 250, "Beef": 510, "Oil": 85}
  total = 0
  for i in food_list:
    total+=price_dict[i]
  if location == "dhanmondi":
    total+=30
  else:
    total+=70

  return total

food_list = [i[1:-1] for i in input()[1:-1].split(", ")]
location = input().lower()

if len(location) >= 1:
  print(function_name(food_list, location))
else:
  print(function_name(food_list))

["Oil"]
Dhaka
155

In [ ]:
#16
# 500, 100, 50, 20, 10, 5, 2, and 1 taka notes.
def splitting_money(amount):
  output = ""
  taka_list = [500,100,50,20,10,5,2,1]
  for i in taka_list:
    if (amount//i) > 0:
      output+= f"{i} Taka: {(amount//i)} note(s)\n"
      amount = amount % i
  return output[0:-1]

amount = int(input())
print(splitting_money(amount))

151
100 Taka: 1 note(s)
50 Taka: 1 note(s)
1 Taka: 1 note(s)

In [ ]:
#17
def remove_odd(a_list):
  final = []
  for i in a_list:
    if i % 2 == 0:
      final.append(i)
  return final

a_list = [int(i) for i in input()[1:-1].split(",")]
print(remove_odd(a_list))

[11,2,3,4,5,2,0,5,3]
[2, 4, 2, 0]

In [ ]:
#18
def function_name(start,stop,first,second):
  sum = 0
  for i in range(start,stop):
    if i%first == 0 and i%second == 0:
      pass
    elif i%first == 0 or i%second == 0:
      sum+=i
  return sum
start = int(input())
stop = int(input())
first = int(input())
second = int(input())

print(function_name(start,stop,first,second))

10
40
4
7
210

In [ ]:
#19
def function_name(string):
  a_j = []
  for i in range(97,107):
    a_j.append(chr(i))
  for i in a_j:
    if i in string:
      return 5
    else:
      return 6

string = input()
for i in range(function_name(string)):
  print("Chelsea is the best club in England")

ABBCDEFEFGHI
Chelsea is the best club in England
Chelsea is the best club in England
Chelsea is the best club in England
Chelsea is the best club in England
Chelsea is the best club in England
Chelsea is the best club in England

In [3]:
#20
def cal_bonus(*args):
  for i in range(len(args)):
    if i % 4 == 0:
      if args[i+2]>30:
        cal = int(args[i+2] * (args[i+3] / 100 * args[i+1]) + 10000)
        print(f"{args[i]} earned a bonus of {cal} Taka for {args[i+2]} goals.")
      elif 20<=args[i+2]<=30:
        cal = int(args[i+2] * (args[i+3] / 100 * args[i+1]) + 5000)
        print(f"{args[i]} earned a bonus of {cal} Taka for {args[i+2]} goals.")
      else:
        cal = int(args[i+2] * (args[i+3] / 100 * args[i+1]))
        print(f"{args[i]} earned a bonus of {cal} Taka for {args[i+2]} goals.")

cal_bonus("Neymar", 1200000, 30, 10, "Jamal", 700000, 19, 5)

Neymar earned a bonus of 3605000 Taka for 30 goals.
Jamal earned a bonus of 665000 Taka for 19 goals.