<a href="https://colab.research.google.com/github/turtle-shifa/CSE110/blob/main/Lab04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
a_list = []
for i in range(10):
  user = int(input())
  a_list.append(user)
  print(f"Numbers in the list: {a_list}")

1
Numbers in the list: [1]
2
Numbers in the list: [1, 2]
3
Numbers in the list: [1, 2, 3]
4
Numbers in the list: [1, 2, 3, 4]
5
Numbers in the list: [1, 2, 3, 4, 5]
6
Numbers in the list: [1, 2, 3, 4, 5, 6]
7
Numbers in the list: [1, 2, 3, 4, 5, 6, 7]
8
Numbers in the list: [1, 2, 3, 4, 5, 6, 7, 8]
9
Numbers in the list: [1, 2, 3, 4, 5, 6, 7, 8, 9]
10
Numbers in the list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#2
user_list = [int(i) for i in input()[1:-1].split(",")]
if len(user_list)>=4:
  print(user_list[2:len(user_list)-2])
else:
  print("Not Possible")

[10, 20, 24, 25, 26, 35, 70]
[24, 25, 26]

In [ ]:
#3
a_list = []
for i in range(5):
  user = int(input())
  a_list.append(user)
print(a_list[::-1])

1
2
3
4
5
[5, 4, 3, 2, 1]

In [ ]:
#4
list1 = [int(i) for i in input()[1:-1].split(",")]
list2 = [int(i) for i in input()[1:-1].split(",")]
list1+=list2
print([i for i in list1 if i%2 == 0])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, -13, -14, -15, -16]
[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#5
#0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
user = [int(i) for i in input().split(",")]
demo = []
for i in user:
  if i not in demo:
    demo.append(i)
print(demo)

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#6
#7, 13, 2, 10, 6
user = [int(i) for i in input().split(",")]
max = 0
for i in range(len(user)):
  if user[i]>= max:
    max = user[i]
    index = i
print(f"Largest number in the list is {max} which was found at index {index}.")

7, 13, 2, 10, 6
Largest number in the list is 13 which was found at index 1.

In [ ]:
#7
# list_one = [1, 2 , 2, 4, 5, 5, 7, 99, 200, 303, 70]
# list_two = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]
list1 = [int(i) for i in input()[1:-1].split(",")]
list2 = [int(i) for i in input()[1:-1].split(",")]
demo = []
for i in list1:
  if i not in demo:
    demo.append(i)
for i in list2:
  if i not in demo:
    demo.append(i)
print(demo)

[1, 2 , 2, 4, 5, 5, 7, 99, 200, 303, 70]
[1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]
[1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]

In [ ]:
#8
#Ar valo laghe nah
#Given dhore nichi
List_one = [1, 4, 3, 2, 5]
List_two = [8, 7, 6, 9]
count = 0
for i in List_two:
  if i in List_one:
    count+=1
if count == 0:
  print(False)
else:
  print(True)

False

In [ ]:
#9
list1 = [int(i) for i in input().split(",")]
print([i for i in list1 if i%2 != 0])

7,12,4,55,96,2,11,61,33,42
[7, 55, 11, 61, 33]

In [2]:
#10
#"hey", "there", " ", "what's", " ", "up", " ", "?"
user= [i[1:len(i)-1] for i in input().split(", ")]
another = []
for i in user:
  if i != " ":
    another.append(i)
print(another)

"hey", "there", " ", "what's", " ", "up", " ", "?"
['hey', 'there', "what's", 'up', '?']

In [4]:
#11
list1 = [int(x) for x in input()[1:-1].split(", ")]
list2 = [int(x) for x in input()[1:-1].split(", ")]
print(list1[0:len(list1)-1]+list2[:])

[1, 4, 7, 5]
[6, 1, 3, 9]
[1, 4, 7, 6, 1, 3, 9]

In [5]:
#12
#[1, 2, 3, 4, 5, 6, 7]
print([(int(i))**2 for i in input()[1:-1].split(", ")])

[1, 2, 3, 4, 5, 6, 7]
[1, 4, 9, 16, 25, 36, 49]

In [6]:
#13
#7, 13, -5, 10, 6
user= [int(i) for i in input().split(", ")]
min = 0
max = 0
for i in range(len(user)):
  if user[i]<=min:
    min = user[i]
    min_index = i
  if user[i]>=max:
    max = user[i]
    max_index = i
print(f"{user}\nSmallest number in the list is {min} which was found at index {min_index}\nLargest number in the list is {max} which was found at index {max_index}")

7, 13, -5, 10, 6
[7, 13, -5, 10, 6]
Smallest number in the list is -5 which was found at index 2
Largest number in the list is 13 which was found at index 1

In [9]:
#14
# A, B, C, D
# C, E , F, B
common = []
list1 = [x for x in input().split(", ")]
list2 = [x for x in input().split(", ")]
for i in list1:
  if i in list2:
    if i not in common:
      common.append(i)
print(common)

1, 3, A, H, P
A, G, 1, P, O
['1', 'A', 'P']

In [10]:
#15
#7, 13, 2, 10, 6
user = [int(x) for x in input().split(", ")]
max = 0
demo = []
for i in range(len(user)):
  if user[i]>=max:
    max = user[i]
  else:
    demo.append(user[i])
max = 0
for i in demo:
  if i>=max:
    max = i
for i in range(len(user)):
  if user[i]==max:
    index = i
print(f"Second largest number in the list is {max} which was found at index {index}.")

7, 13, 2, 10, 6
Second largest number in the list is 10 which was found at index 3.