<a href="https://colab.research.google.com/github/turtle-shifa/CSE110/blob/main/Lab05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
a_tuple = ("The Institute",
("Best Mystery & Thriller", "The Silent Patient", 68821),
75717,
[1, 2, 3, 400, 5, 6, 7],
("Best Fiction", "The Testaments", 98291)
)
print(a_tuple[3][3])

400

In [ ]:
#2
a_tuple = tuple(int(i) for i in input()[1:-1].split(", "))
#print(a_tuple[2:-2]) #You can use this also
print(a_tuple[2:len(a_tuple)-2])

(-10, 20, 25, 30, 40)
(25,)

In [ ]:
#3
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print(f"Size of the tuple is: {len(book_info)}")
for i in book_info:
  print(i)

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
for i in range(len(book_info)):
  print(f"{book_info[i][1]} won the '{book_info[i][0]}' category with {book_info[i][2]} votes")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [ ]:
#5
a_tuple = tuple(int(i) for i in input()[1:-1].split(", "))
user = int(input())
count = 0
for i in a_tuple:
  if i==user:
    count+=1
print(f"{user} appears {count} times in the tuple")

(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
8
8 appears 4 times in the tuple

In [ ]:
#5 Using Function
a_tuple = tuple(int(i) for i in input()[1:-1].split(", "))
user = int(input())
print(a_tuple.count(user)) #Format this

(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
8
4

In [ ]:
#6
a_tuple = tuple(i[1:-1] for i in input()[1:-1].split(", "))
print(a_tuple[::-1])

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
#7
dict1 = {'Harry':15, 'Draco':8, 'Nevil':19}
dict2 = {'Ginie':18, 'Luna': 14}
dict1.update(dict2)
print(dict1)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [17]:
#8
user = input()
#{'Harry':15, 'Draco':8, Nevil':19}
step_1 = ''.join(i for i in user if i not in ["{","}","'"])
step_2 = step_1.split(", ")
amount = 0
for i in step_2:
  for j in range(len(i)):
    if i[j] == ":":
      amount+=int(i[j+1:])
print(amount//len(step_2))

{'Jon': 100, 'Dan':200, 'Rob':30, 'Ned':110}
110

In [5]:
name = "Barack (of Washington)"
# name = name.strip("(){}<>") #Don't Work
name = ''.join(x for x in name if x not in "{}()")
print(name)

Barack of Washington

In [18]:
#9
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
number = int(input())
new_dict = {}
for key,value in exam_marks.items():
  if value>number:
    new_dict[key] = value
print(new_dict)

170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

In [19]:
#10
a_dict = {'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
max = 0
for key,value in a_dict.items():
  if value>=max:
    max = value
    category = key
print(f"The highest selling book genre is '{category}' and the number of books sold are {max}.")

The highest selling book genre is 'mystery' and the number of books sold are 15.

In [21]:
#11
user = ''.join(i for i in input().lower() if i not in " ")
#"Python programming is fun"
a_dict ={}

for i in user:
  if i not in a_dict:
    a_dict[i]=user.count(i)
print(a_dict)

Python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [22]:
#11 #Ektu Jotil Cinta kori
user = ''.join(i for i in input().lower() if i not in " ")
#"Python programming is fun"
a_dict ={}

for i in user:
  if i in a_dict:
    a_dict[i]+=1
  else:
    a_dict[i] = 1
print(a_dict)

Python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [23]:
#12
dict1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count = 0
for key,value in dict1.items():
  for i in value:
    count+=1

print(count)

9

In [24]:
#13
a_list = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
a_dict = {}

for i in a_list:
  if i[0] not in a_dict:
    a_dict[i[0]] = [i[1]]
  else:
    a_dict[i[0]].append(i[1])
print(a_dict)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [25]:
#14
a_list = [(2, 3), (4, 5), (6, 7), (2, 8)]
output = []
for i in a_list:
  output.append(i[0]*i[1])
print(output)

[6, 20, 42, 16]

In [26]:
#15
a_tuple = ([1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
user = input()
for i in a_tuple:
  i[-1] = user
print(a_tuple)

abc
([1, 2, 'abc'], [4, 5, 'abc'], [7, 8, 'abc'], [10, 11, 'abc'])

In [28]:
#16
my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}
new_dict = {}

for key,value in my_dictionary.items():
  if value!=None:
    new_dict[key] = value
print(new_dict)

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

In [29]:
#17
dictionary = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}
lower = int(input())
upper = int(input())
new_dict = {}
for key,value in dictionary.items():
  if value>=lower and value<upper:
    new_dict[key] = value
print(new_dict)

9
12
{'c': 9, 'e': 11}

In [31]:
#18
a_list = [(20, 'Sad'), (31, 'Sad'), (88, 'NotSad'), (27, 'NotSad')]
new_dict = {}

for i in a_list:
  if i[1] not in new_dict:
    new_dict[i[1]] = [i]
  else:
    new_dict[i[1]].append(i)
print(new_dict)

{'Sad': [(20, 'Sad'), (31, 'Sad')], 'NotSad': [(88, 'NotSad'), (27, 'NotSad')]}