<a href="https://colab.research.google.com/github/turtle-shifa/CSE110/blob/main/Lab02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1**

In [ ]:
#24, 18, 12, 6, 0, -6
user = 24
for i in range(24,-7,-6):
  if i == -6:
    print(i, end="")
  else:
    print(i, end=", ")

24, 18, 12, 6, 0, -6

In [4]:
print(3)
print(4)

3
4

In [10]:
print(3,4)
print(3, end=", ")
print(4, end=", ")
print(5)

3 4
3, 4, 5

In [11]:
#-10, -5, 0, 5, 10, 15, 20
start = -10
while start<=20:
  if start!=20:
    print(start,end=", ")
  else:
    print(start,end="")
  start+=5

-10, -5, 0, 5, 10, 15, 20

In [12]:
#18, 27, 36, 45, 54, 63
start = 18
while start<=63:
  if start!=63:
    print(start,end=", ")
  else:
    print(start,end="")
  start+=9

18, 27, 36, 45, 54, 63

In [15]:
#18,-27, 36,-45,54,-63
start = 18
while start<=63:
  if start==63:
    print((start*-1),end="")
  else:
    if start%2 == 0:
      print(start,end=", ")
    else:
      print((start*-1),end=", ")
  start+=9

18, -27, 36, -45, 54, -63

**2**

In [16]:
car = input()
number = int(input())
for i in range(number):
  print(car)

Car
5
Car
Car
Car
Car
Car

In [17]:
#3
sum = 0
for i in range(1,601,1):
  if i%7 == 0 and i%9 == 0:
    sum+=i
print(sum)

2835

In [18]:
#4
sum = 0
for i in range(1,601,1):
  if i%7 == 0 or i%9 == 0:
    sum+=i
print(sum)

42649

In [19]:
#5
sum = 0
for i in range(1,601,1):
  if i%7 == 0 and i%9 == 0:
    pass
  else:
    if i%7 == 0 or i%9 == 0:
      sum+=i
print(sum)

39814

In [20]:
#6
for i in range(10,51,1):
  if i%2 != 0:
    if i != 50:
      print(i,end=" ")
    else:
      print(i)

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [21]:
#7
sum = 0
user = int(input())
for i in range(1,user+1,1):
  if i%2 != 0:
    sum+=(i**2)
  else:
    sum-=(i**2)
print(sum)

10
-55

In [22]:
#8
count = 0
sum = 0
for i in range(10):
  user = int(input())
  if user%2 != 0:
    count+=1
    sum+=user
print(f"Total is {sum} and Average is {sum/count}")

1
2
3
4
5
6
7
8
9
10
Total is 25 and Average is 5.0

In [23]:
#9
sum = 0
user = int(input())
for i in range(1,user+1,1):
  if i%7 == 0:
    sum+=i
print(sum)

50
196

In [25]:
#10
sum=0
for i in range(10):
  number = int(input())
  if i == 0:
    sum+=number
  else:
    sum+=number
  print(sum)

10
10
12
22
22
44
56
100
200
300
500
800
899
1699
900
2599
8
2607
5
2612

In [37]:
print(32768//10)
print(32768%10)

3276
8

In [40]:
#11
user = int(input())
str_convert = str(user)
for i in range(len(str_convert)):
  if i == len(str_convert)-1:
    print(str_convert[i])
  else:
    print(str_convert[i],end=", ")

32768
3, 2, 7, 6, 8

In [38]:
#12 Alternative
user = int(input())
while user>0:
  digit = user%10
  user = user//10
  if user!=0:
    print(digit,end=", ")
  else:
    print(digit)

32768
8, 6, 7, 2, 3

In [32]:
#12
user = int(input())
#32728
str_convert = str(user)
for i in range((len(str_convert))-1,-1,-1):
  if i == 0:
    print(str_convert[i])
  else:
    print(str_convert[i],end=", ")

32768
8, 6, 7, 2, 3

In [33]:
#13
user = int(input())
print(len(str(user)))

32768
5

In [36]:
#13 Alternative
user = int(input())
count = 0
while user>0:
  user = user//10
  count+=1
print(count)

32768
5

In [41]:
#14
user = int(input())
count = 0
output = ""
for i in range(1,user+1,1):
  if user%i == 0:
    count+=1
    output+=str(i)+", "
print(output[0:len(output)-2:1])
print(f"Total {count} divisors.")

6
1, 2, 3, 6
Total 4 divisors.

In [44]:
#15
user = int(input())
sum = 0
for i in range(1,user,1):
  if user%i == 0:
    sum+=i
if sum != user:
  print(f"{user} is not a perfect number")
else:
  print(f"{user} is a perfect number")

6
6 is a perfect number

In [46]:
#16
user = int(input())
count = 0
for i in range(1,user+1,1):
  if user%i == 0:
    count+=1
if count == 2:
  print(f"{user} is a prime number")
else:
  print(f"{user} is not a prime number")

11
11 is a prime number

In [47]:
quantity = int(input())
sum = 0
max = 0
min = 0
for i in range(quantity):
  user = int(input())
  if user>=max:
    max = user
  elif user<=min:
    min = user
  sum+=user
print(f"Maximum {max}\nMinimum {min}\nAverage is {sum/quantity}")

5
10
-100
20
30
-200
Maximum 30
Minimum -200
Average is -48.0

In [64]:
#18
user = int(input())
output = ""
for i in range(user):
  for j in range(user):
    output+="+"
  if i != user-1:
    output+="\n"
print(output)

3
+++
+++
+++

In [63]:
#19
row = int(input())
column = int(input())
output = ""
for i in range(row):
  for j in range(1,column+1,1):
    output+=str(j)
  if i != row-1:
    output+="\n"
print(output)

4
6
123456
123456
123456
123456

In [65]:
#20
user = int(input())
#4
output = ""
for i in range(1,user+1,1):
  for j in range(1,i+1):
    output+=str(j)
  if i != user:
    output+="\n"
print(output)

6
1
12
123
1234
12345
123456

In [3]:
#21
user = int(input())
first = 0
second = 1
output = str(first)+" "+str(second)+" "
third = first+second
while third<=user:
  third = first + second
  first = second
  second = third
  if third<=user:
    output+=str(third)+" "
print(output[0:len(output)-1:1])

10
0 1 1 2 3 5 8

In [6]:
#22
user = int(input())
output = ""
while user>0:
  output+=str(user%2)
  user = user//2
print(output[::-1])

10
1010

In [12]:
#23
user = int(input())
str_convert = str(user)
initial_index = 0
sum = 0
#1010
for i in range(len(str_convert)-1,-1,-1):
  #i=3
  sum+=((2**i)*(int(str_convert[initial_index])))
  initial_index+=1
print(sum)

1101
13

In [13]:
#24
min = 0
sum = 0
count = 0
for i in range(5):
  user = int(input())
  if user<=min:
    min = user
  if user%2 == 0:
    sum+=user
    count+=1
print(f"Minimum {min}\nAverage is {sum/count}")

10
4
-1
-100
1
Minimum -100
Average is -28.666666666666668

In [16]:
#25
final = 1
n = int(input())
for i in range(n):
  user = int(input())
  final = final * user
print(final)

5
10
6
4
2
1
480

In [18]:
#26
start = int(input()) #2
stop = int(input()) #6
ini_count_prime = 0
ini_sum_perfect = 0
prime = 0
perfect = 0
prime_output =""
perfect_output = ""
for i in range(start,stop+1,1):
  for j in range(1,i+1,1):
    #j=1,2
    if i%j == 0:
      ini_count_prime+=1
    if j != i:
      if i%j == 0:
        ini_sum_perfect+=j
  if ini_count_prime == 2:
    prime+=1
    prime_output+=str(i)+" "
  if ini_sum_perfect == i:
    perfect+=1
    perfect_output+=str(i)+" "
  ini_count_prime = 0
  ini_sum_perfect = 0

print(f"Between {start} and {stop},\nFound {prime} prime numbers\nFound {perfect} perfect number\nPrime numbers: {prime_output[0:len(prime_output)-1:1]}\nPerfect numbers: {perfect_output[0:len(perfect_output)-1:1]}")

2
6
Between 2 and 6,
Found 3 prime numbers
Found 1 perfect number
Prime numbers: 2 3 5
Perfect numbers: 6